:root {
  --color-main: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wordigo-container {
  width: 350px;
  margin: 20px auto 20px auto;
}

.wordigo-flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto 0px;
  width: 100%;
}

.wordigo-flex-container > div.letter {
  background-color: #fff;
  border: 1px solid #dde3e6;
  width: 1px;
  height: 64px;
  margin: 3px;
  padding-top: 20px;
  color: #52565c;
  text-align: center;

  flex-grow: 1;
}

.wordigo-flex-container > div.letter {
  color: #708090;
}

.letter {
  width: 100px;
}
