.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.color-blind {
  display: flex;
}

div.color-blind-container {
  width: 345px;
  border: 1px solid #52565b;
  margin: 30px auto;
  padding: 20px 20px;
  border-radius: 20px;
}

.score {
  color: #52565b;
  text-align: center;
  font-size: 30px;
}
